---
import "../styles/style.css";
import Layout from "../layouts/Layout.astro";
const showOfferBar = true;
import BasketBuyCard from "../components/BasketBuyCard.astro";
---

<Layout title="Om Os">
  <h2>About us</h2>
  <BasketBuyCard header="Sild" />
  <BasketBuyCard header="Laks" soldOut={true}/>
  <BasketBuyCard header="Blæksprutte" />
</Layout>

