---
import "../styles/style.css";
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
import Produkter from "../components/Produkter.astro"

const data = await fetch("https://wnkjsxgrwbocyrqdebfj.supabase.co/rest/v1/produkter", {
  method: "GET",
  headers: {
    apikey: 
    "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Indua2pzeGdyd2JvY3lycWRlYmZqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzM3NDM3NzcsImV4cCI6MjA0OTMxOTc3N30.-JwL6KZXBey-gpbEkjNewRBPoUYM7hSEnRYeXgqpHHU"
  },
}).then(res=>res.json());

console.log(data);
---

<Layout title="Forside">
  <Button variant="primary" size="small">TEXT</Button>
  <Button variant="secondary" size="medium">TEXT</Button>
  <Button variant="secondary" size="large">TEXT</Button>
  <section>
    {
      data.map((produkter: any) => {
        return <Produkter data={produkter} />;
      })
    }
  </section>

</Layout>
