---
//@ts-nocheck
import "../styles/style.css";
import Layout from "../layouts/Layout.astro";
import BuyButton from "../components/BuyButton.astro";
import ProductCard from "../components/ProductCard.astro";

const data = await fetch(
  "https://wnkjsxgrwbocyrqdebfj.supabase.co/rest/v1/produkter",
  {
    method: "GET",
    headers: {
      apikey:
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Indua2pzeGdyd2JvY3lycWRlYmZqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzM3NDM3NzcsImV4cCI6MjA0OTMxOTc3N30.-JwL6KZXBey-gpbEkjNewRBPoUYM7hSEnRYeXgqpHHU",
    },
  }
).then((res) => res.json());

console.log(data);

const sortedData = data.sort((a, b) =>
  a.name.localeCompare(b.name)
);

const varmrøgetProdukter = sortedData.filter(
  (produkt: any) => produkt.description === "Varmrøget"
);
const koldrøgetProdukter = sortedData.filter(
  (produkt: any) => produkt.description === "Koldrøget"
);
---

<Layout title="Forside">
  <section>
    <h2>Varmrøget</h2>
    <ul class="produkt-grid">
      {
        varmrøgetProdukter.map((produkt) => {
          return <ProductCard data={produkt} />;
        })
      }
    </ul>
  </section>

  <section>
    <h2>Koldrøget</h2>
    <div class="produkt-grid">
      {
        koldrøgetProdukter.map((produkt) => {
          return <ProductCard data={produkt} />;
        })
      }
    </div>
  </section>
</Layout>

<style>
  section {
    margin: 40px;
  }

  .produkt-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
  }

  h2 {
    font-family: "EB Garamond", serif;
    font-size: 4rem;
    color: #19437d;
    margin-bottom: 16px;
  }

  @media (max-width: 1400px) {
  .produkt-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 750px) {
  .produkt-grid {
    grid-template-columns: 1fr;
  }
}

</style>
