---
const { text } = Astro.props;
---

<article>
  <button class="cta">{text}</button>
</article>

<style>
  .cta {
    background-color: rgba(25, 67, 125, 1);
    color: rgba(235, 231, 220, 1);
    padding: 10px, 20px;
    border-radius: 10px;
    border: none;
    font-family:;
    font-size:;
    font-weight:;
    text-transform: uppercase;
  }

  .cta:hover {
    background-color: rgba(235, 231, 220, 1);
    color: rgba(25, 67, 125, 1);
    border-color: rgba(25, 67, 125, 1);
  }
</style>
