---

---

<article>
  <div class="billedecontainer">
    <img class="right" src="../img/Eva.webp" alt="Eva" />
    <img class="left" src="../img/otto2.webp" alt="Otto" />
  </div>
</article>

<style>
  .billedecontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    gap: 5px;
    margin-bottom: 5%;
  }

  .left,
  .right {
    width: 35%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
    position: relative;
  }

  .left {
    right: 5%;
    margin-top: 10%;
  }

  .right {
    z-index: 1;
  }

  @media (max-width: 800px) {
    .billedecontainer {
      flex-direction: column;
    }

    .left,
    .right {
      width: 80%;
      margin: 0;
      z-index: 0;
    }
  }
</style>
