---

---

<footer>
  <div class="content">
    <a class="image" href="https://www.instagram.com/eva_og_otto/?hl=da" target="_blank"><img src="/img/instagram.webp" alt="instagram" /></a>
    <a class="image" href="https://www.facebook.com/profile.php?id=61566827861266" target="_blank"><img  src="/img/facebook.webp" alt="facebook" /></a>
  </div>
</footer>

<style>
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    padding-bottom: 5%;
  }

  .image {
    padding: 5%;
  }
</style>
