<header>
  <div class="header-section">
    <img class="hero-img" src="../img/hero-img.webp" alt="hero-section" />
  </div>
  <div>
    <div class="logo-class">
      <h1>
        <span class="eva">EVA</span><span class="og">&</span><br />
        OTTO
      </h1>
    </div>
  </div>
  <div class="cta-container">
    <a href="../julefrokost"><button class="cta-1">Julefrokost</button></a>
    <a href="../eventkalender"><button class="cta-2">Events</button></a>
  </div>
</header>

<style>
  header {
    margin-top: 5%;
    
  
  }
  .hero-img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }
  .header-section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    z-index: -1;
  }

  .logo-class {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  h1 {
    font-family: "Bungee Inline", serif;
    font-weight: 400;
    font-style: normal;
    color: #19437d;
    top: 10%;
    font-size: 150px;
    margin: 0;
    line-height: 0.9;
    text-align: center;
    position: absolute;
  }

  .og {
    font-size: 50px;
  }

  .cta-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 5%;
  }
  .cta-1,
  .cta-2 {
    background-color: rgba(25, 67, 125, 1);
    color: rgba(235, 231, 220, 1);
    padding: 20px, 40px;
    width: 250px;
    height: 65px;
    border-radius: 10px;
    border: none;
    font-family: "EB Garamond", serif;
    font-size: 30px;
    font-weight: 100;
    cursor: pointer;
  }

  @media (max-width: 1300px) {
    .logo-class {
      margin-top: 5%;
    }
    h1 {
      font-size: 100px;
    }

    .cta-container {
      gap: 10px;
      top: 35%;
    }
    .cta-1,
    .cta-2 {
      width: 180px;
      height: 45px;
      font-size: 18px;
    }

    .hero-img {
      height: 70vh; 
      width: 100%;
    }

    .header-section {
      height: 70vh;
      width: 100%;
    }
  }

  @media (max-width: 800px) {
    .logo-class {
      margin-top: 5%;
    }

    h1 {
      font-size: 80px;
    }

    .cta-container {
      gap: 10px;
      top: 30%;
    }

    .cta-1,
    .cta-2 {
      width: 150px;
      height: 40px;
      font-size: 16px;
    }

    .hero-img {
      height: 50vh; /* Yderligere reduceret højde */
      width: 100%;
    }

    .header-section {
      height: 50vh;
      width: 100%;
    }
  }
</style>
