---
const { data } = Astro.props;

---

<a href={`produkter/${data.slug}`}>
  <article>
    <h2 class="name">{data.name}</h2>
    <p class="price">{data.pris}</p>
    <p class="description">{data.description}</p>
  </article>
</a>

<style>
  * {
    color: black;
  }
</style>
